@use "@/shared/sass/colors" as color;

.buttonText {
    padding: 5px 10px;

    background: none;
    border: none;

    font-size: 17px;
    font-weight: 600;

    color: color.$black;

    cursor: pointer;

    transition: 0.2s ease-out;

    &:hover {
        color: color.$orange;
    }
}
