.basketPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    
    gap: 30px;

    @media (min-width: 1280px) {
        flex-direction: row;
        justify-content: space-between;
    }

    &__items {
        display: grid;
        gap: 20px;
    }
}