.layer {
    display: grid;
    place-content: center;

    &__title {
        margin-top: 0;
        margin-bottom: 20px;

        font-size: 20px;
        font-weight: 600;

        color: #838383;
    }

    &__items {
        display: grid;
        grid-template-columns: 250px;
        gap: 30px;

        @media (min-width: 420px) {
            grid-template-columns: 350px;
        }

        @media (min-width: 640px) {
            grid-template-columns: 250px 250px;
            gap: 20px;
        }

        @media (min-width: 860px) {
            grid-template-columns: 250px 250px 250px;
            gap: 30px;
        }

        @media (min-width: 1280px) {
            grid-template-columns: 350px 350px 350px;
        }
    }
}
